.HBBoard{
    display: grid;
    grid-template-columns: min-content auto auto;
    grid-template-rows: 25% 25% 25% 25%;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 100%;
    overflow: hidden;
}

.handsWrapper{
    position: relative;
}

.HBPlayHistory,
.handsWrapper,
.HBClueHistory,
.HBDiscardArea,
.HBGeneralControls {
    border-radius: 20px;
    margin: 10px;
    background-color: rgba(0,0,0,0.5);
}