.PlayHistory {
  display: grid;
  grid-area: playhistory;
  justify-content: center;
  align-content: initial;
  font-size: 30px;
  user-select: none;
  grid-template-rows: repeat(8, 12.5%);
}

.PlayHistory span {
  text-align: center;
}

.PlayHistory span:hover {
  border-color: white;
  border-style: solid;
  border-width: 1px;
  box-sizing: content-box;
}

.ColorSubject {
  border-radius: 5px;
  border-style: solid;
  display: inline-block;
  font-size: 30px;
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 0.04em;
}

.NumberSubject {
  font-size: 30px;
  border-radius: 5px;
  border-style: solid;
  display: inline-block;
}
