.PlayHistory {
  display: grid;
  grid-area: playhistory;
  justify-content: center;
  align-content: initial;
  font-size: 30px;
  user-select: none;
  grid-template-rows: repeat(8, 12.5%);
}

.PlayHistory span {
  text-align: center;
}
