.Hand {
  display: grid;
  border-width: calc(2 * var(--bsf));
  border-color: #00000000;
  border-style: solid;
  border-radius: calc(5 * var(--bsf));
  padding: calc(10 * var(--bsf));
}

.Hand.OnPlayerTurn {
  border-color: yellow;
  background-color: #11111199;
}

.HandsArea {
  grid-area: handarea;
  padding: calc(10 * var(--bsf));
  padding-top: calc(30 * var(--bsf));
}

.handName {
  font-size: calc(20 * var(--bsf));
  text-align: center;
  user-select: none;
}

.handCardArea {
  display: grid;
  grid-auto-flow: column;
}
