.HBClueButtonAreaSuit {
    display: grid;
    justify-content: center;
    grid-auto-rows: minmax(auto, auto);
}

.HBClueButtonAreaNumber {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, auto);
    grid-auto-rows: minmax(auto, auto);
}