.DiscardPile {
  grid-area: discardpile;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(10, min-content);
  grid-auto-rows: min-content;
  justify-content: start;
}

.DiscardPile svg {
  height: auto;
}
