.ClueArea {
  display: grid;
  grid-area: cluearea;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
  user-select: none;
  font-family: Consolas, monospace;
}

.ClueSelector {
  display: grid;
  height: 100%;
  grid-template-rows: 50% 50%;
  justify-content: center;
  align-content: center;
}

.ClueButtonArea {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.PlayerArea {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  text-align: center;
  font-size: 20rem;
  height: min-content;
}

.PlayerButton,
.SelectedPlayerButton {
  margin: 3px;
  padding: 3px;
  border-radius: 5px;
  width: 5em;
  color: white;
  background-color: black;
}

.SelectedPlayerButton {
  color: black;
  background-color: white;
}

.ClueButton {
  height: 60rem;
  font-size: 50px;
}

.SubmitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 3px;
  padding: 5px;
  background-color: #000000;
  border-radius: 5px;
  color: green;
  font-weight: 1000;
  font-size: 50rem;
}
