.Home {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 400px;
  transform: translate(-50%, -50%);
  background-color: rgb(107, 107, 107);
  padding: 5%;
  box-sizing: border-box;
  border-radius: 20px;
}

.CreateButtons {
  display: inline-block;
}

.TableTable {
  width: 100%;
}
