.Board {
  position: relative;
  height: 100%;
  width: 100%;
  contain: content;

  /* container board scale factor */
  --cbsf: var(--bsf, var(--rbsf, var(--cbsf-fallback)));

  /* The fallback value is set so that the font-size in the play history
   * matches the font size of the containing element, and the play history
   * font-size is specified at 20 * --bsf. */
  --cbsf-fallback: calc(1em / 20);
}

.BoardGrid {
  display: grid;
  position: relative;
  grid-template-areas:
    "playhistory    playhistory    playhistory    handarea cluehistory"
    "stackarea      stackarea      stackarea      handarea cluehistory"
    "stackarea      stackarea      stackarea      handarea discardpile"
    "cluearea       cluearea       cluearea       handarea discardpile"
    "replaycontrols replaycontrols replaycontrols handarea discardpile"
    "blank          scoreboard     deck           handarea discardpile";
  justify-content: center;
  align-content: start;
  align-items: start;
  color: white;
  overflow: hidden;

  /* board scale factor */
  --bsf: var(--cbsf);
}
