.Board {
  position: relative;
  height: 100%;
  width: 100%;
  contain: content;
}

.BoardGrid {
  display: grid;
  position: relative;
  grid-template-areas:
    "playhistory    playhistory    playhistory    handarea cluehistory"
    "stackarea      stackarea      stackarea      handarea cluehistory"
    "stackarea      stackarea      stackarea      handarea discardpile"
    "cluearea       cluearea       cluearea       handarea discardpile"
    "replaycontrols replaycontrols replaycontrols handarea discardpile"
    "blank          scoreboard     deck           handarea discardpile";
  justify-content: center;
  align-content: start;
  align-items: start;
  color: white;
  overflow: hidden;
}
