.handCardArea{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: min-content;
    justify-content: center;
    align-content: center;
}
.HBHand{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-rows: min-content min-content;
    user-select: none;
}

.HBHandsArea{
    display: grid;
    justify-content: center;
}

.cardInHand{
  width: max-content;
  height: 100%;
}

.handNameArea{
    font-size: 20px;
}
