.NoteEditor {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 5px;
  border-radius: 20px;
  font-size: 16rem;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  box-sizing: border-box;
}
