.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.blackRectangle {
  border-radius: 20px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
