body {
  margin: 0;
  font-family: Consolas, monospace;
}

html,
body,
#root {
  margin: 0px;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

//Disable all highlighting of all text in svgs
svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
