.Hand {
  display: grid;
  border-width: 2rem;
  border-color: #00000000;
  border-style: solid;
  border-radius: 5rem;
  padding: 10rem;
}

.Hand.OnPlayerTurn {
  border-color: yellow;
  background-color: #11111199;
}

.HandsArea {
  grid-area: handarea;
  padding: 10rem;
  padding-top: 30rem;
}

.handName {
  font-size: 20rem;
  text-align: center;
  user-select: none;
}

.handCardArea {
  display: grid;
  grid-auto-flow: column;
}
